.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #00597e;
    transition: var(--transition-color-data);
}

.link:hover {
    color: var(--hover-bg-color);
}